
<table class="table" style="background-color: green; width:100%; margin:20px" border="1" >
  <thead>
    <tr>
      <th scope="col"> ID </th>
      <th scope="col" >First Name  </th>
      <th scope="col">Last Name  </th>
      <th scope="col"> Email </th>
      <th scope="col"> Profile Picture </th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let apicall of userData.data">
      <td class="data">{{apicall.id}}</td>
      <td class="data">{{apicall.first_name}}</td>
      <td class="data">{{apicall.last_name}}</td>
      <td class="data">{{apicall.email}}</td>
      <td class="data"><img src={{apicall.avatar}}> </td>
    </tr>

  </tbody>
</table>


